/* #f0d683 #e1a93a <- shades of gold */


*:has(.mainContainer) {
    box-sizing: border-box;
}

/* main */

body:has(.mainContainer) {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #5c4f3a;
    background: rgb(235, 230, 218);
    /* background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,251,244,1) 40%, rgba(255,247,230,1) 100%); */
    /* background: rgb(255,247,230);
    background: linear-gradient(345deg, rgba(255,247,230,1) 0%, rgba(255,251,244,1) 40%, rgba(255,255,255,1) 100%); */
    /* background: rgb(255,239,206);
    background: linear-gradient(344deg, rgba(255,239,206,0.9332983193277311) 0%, rgba(255,255,255,1) 85%); */
}

/* homepage */

/* .homeHead {    
    background-image: url("/lines.jpg");
    background-size: cover;
} */

/* nav bar */

/* flex jutify-between items-center p-4 */
/* .navBar { 
    display: flex;
    justify-content: space-between;
    align-items: center ;
    padding: 15px;
}  */

/* rounded-full w-14 overflow-hidden */
/* .navBar a:has(img) { 
    border-radius: 100%;
    width: 50px;
    overflow: hidden;
} */

/* scale-125 */
/* .navBar img {
    scale: 1.3;
} */

/* flex list-none */
.navBar ul { 
    display: flex;
    list-style-type: none;
}

.navBar li { /* my-0 mx-4 */ 
    margin: 0 15px;
}




/* header  */

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 31vw;
    min-height: 250px;
    /* padding: 0 5% 0 40%;
    text-align: right;
    color: aliceblue; */
}

/* categories */

.categorySection {
    background-color: #ceba9b;
    text-align: center;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    justify-content: space-evenly;
    list-style-type: none;
    text-decoration: none;
}

.categories li {
    padding: 1em 2.5em;
}

.categories a:hover {
    text-decoration: underline;
}


/* products list */

.productsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 15px;
}

.productCard {
    margin: 20px;
    display: flex;
    flex-direction: column;
    min-width: 250px;
    max-width: 330px;
    border: none;
    border-radius: 10px;
    transition: 0.3s;
    overflow: hidden;
    background-color: white;
    -webkit-box-shadow: 5px 13px 43px -24px #000000;
    -moz-box-shadow: 5px 13px 43px -24px #000000;
    -o-box-shadow: 5px 13px 43px -24px #000000;
    box-shadow: 5px 13px 43px -24px #000000;
}

.productCard:hover {
    scale: 1.01;
    background: rgb(255,247,230);
    background: linear-gradient(0deg, rgba(255,247,230,1) 0%, rgba(255,251,244,1) 40%, rgba(255,255,255,1) 100%);
    -webkit-box-shadow: 5px 13px 43px -11px #000000;
    -moz-box-shadow: 5px 13px 43px -11px #000000;
    -o-box-shadow: 5px 13px 43px -11px #000000;
    box-shadow: 5px 13px 43px -11px #000000;
}

.cardImage {
    height: 50%;
    overflow: hidden;
    transition: 0.3s;
}

.productCard:hover .cardImage {
    scale: 1.1;
}

/* .productCard img {
    display: flex;
    margin: auto;
    max-height: 150px;
    object-fit: cover;
    scale: 1.3;
    transition: 0.3s;
} */

.productCard img {
    transition: 0.3s;
}

.productCard:hover img {
    scale: 0.85;
} 

.cardInfo {
    padding: 25px 10px 5px;
}

.cardCTA {
    /* background-color: #feebcb ; */
    /* background: rgb(255,247,230);
    background: linear-gradient(0deg, rgba(255,247,230,1) 0%, rgba(255,251,244,1) 40%, rgba(255,255,255,1) 100%); */
    transition: 0.1s;
    padding: 6%;
    display: flex;
    justify-content: space-between;
    /* visibility: hidden; */
    visibility: hidden;
    /* height: 50px; */
}

.productCard:hover .cardCTA {
    /* display: block; */
    visibility: visible;
}


.oldPrice {
    text-decoration: line-through;
}

/* contact form */

.contact {
    background-color: #ceba9b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    max-height: 500px;
    margin: auto;
    padding: 35px;
}

/* product info */

.productInfo {
    padding: 3%
}
