/* #f0d683 #e1a93a <- shades */


*:has(.mainContainer) {
    box-sizing: border-box;
}

.productCard, .cardImage, .productCard img {    
    transition: 0.3s;
}

.productCard:hover .cardImage {
    scale: 1.1;
}

.productCard:hover img {
    scale: 0.85;
} 
